*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title{
  margin-left: 43%;
  margin-bottom: 35px;
}

body{
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 15vh;
 
}

.wrapper{
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 17%;
}

.wrapper .card{
  width: calc(33% - 20px);
  background: #fff;
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 15px;
  
}

.wrapper .card .circle{
  position: relative;
  height: 150px;
  width: 150px;
  border: 8px solid grey;
  border-radius: 50%;
}

.card .circle .box,
.card .circle .box span{
  position: absolute;
  top: 50%;
  left: 50%;
}

.card .circle .box{
  height: 100%;
  width: 100%;
  background: #fff;
  transform: translate(-50% , -50%);
  border-radius: 50%;
}

.card .circle .box span{
  transform: translate(-50%,-50%);
  font-size: 38px;
  font-weight: 600;
  background: -webkit-linear-gradient(left,purple,rgb(42, 42, 218));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card .text{
  font-size: 28px;
  font-weight: 500px;
}


