*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    
    --skills-bar-length:0%;
  }

.body{
  padding-bottom: 15vh;
}
.title{
  margin-left: 43%;
}

.hero-img{
    width: auto;
    height: 420px;
    justify-content: center;
}


.container{
    justify-items: center;
    margin-top: 5vh;
    margin-left: 8%;
}

.img-container {
    position: relative;
    overflow: hidden;
    border: 1rem solid #fff;
    box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.342);
    width: fit-content;
    cursor: pointer;
    justify-content: center;
    background-color: var(--primaryColor);
    margin-bottom: 20px;
    transition: 2s ease;
}

.img-container:hover{
  background-color: rgb(172, 90, 90);
}

/*PowerStats*/
.power-stats{
  padding-top: 20px;
}

.skill_item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.skill_bar,
.skill_bar::after
{
  position: relative;
  width: 175px;
  height: 8px;
  background-color: #888;
  border-radius: 5px;
  position: inline;
  overflow: hidden;
}

.skill_bar::after{
  content: "";
  position: absolute;
  left: -175px;
  background-color: rgb(57, 46, 211);
  transition: 1s ease all;
  animation: skill_bar-fill 2s ease-in-out forwards;
}


  @media(max-width: 700px) {
    .container{
      margin-left: 17%;
    }
  }

  @keyframes skill_bar-fill{
    to{
      transform: translateX(var(--skills-bar-length));
    }
    
  }

