<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-navbar></app-navbar>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="img" src="{{hero.image.url}}" alt="aqui">
                </div>
                <div class="col" >
                    <h2>Name: {{hero.name}} </h2>
                    <ul class="info">
                        <li>Height: {{hero.appearance.height}} </li>
                        <li>Weight: {{hero.appearance.weight}} </li>
                        <li>Work: {{hero.work.occupation }} </li>
                        <li>Aliases: {{hero.biography.aliases }} </li>
                    </ul>
                </div>
            </div>
        </div>
    <app-footer></app-footer>
</body>
</html>
