@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.navbar{
    list-style: none;
    
}

.title{
    text-decoration: none;
    color: #0c8c4c;
    text-shadow: 1px 1px 2px black;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    font-size: 3.7rem;
    
    font-weight: 900;
    margin-left: 20px;
}



.lista ul
{
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
   margin: 0px;
}


.lista li
{
   list-style-type: none;
   display: inline;
   padding-right: 5px;
}

.lista div{
    display: inline;
    position: sticky;
    left: 80%;
    
}

.lista div a{
    text-decoration: none;
    color: rgb(6, 2, 20);
    font-size: 1.5rem;
    padding: 15px;
    font-weight: 400;
    transition: 1s ease all;
}

.lista div a:hover{
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    background-color: rgb(73, 71, 71);
    border-radius: 10px;
}